* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
}

#griglia{
    margin: auto;
    height: 300px;
    width: 300px;
}

.quadrato{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    float: left;
    display: flex;
    justify-content: center;
    align-content: center;
}

p{
    font-size: 40px;
}

.giallo{
    background-color: yellow;
}

.verde{
    background-color: green;
}
